.tweetBox__btn {
    /* display: block; */
} 

.sidebarOption {
    display: flex; 
    align-items: center;
    padding-bottom: 14px
}

.sidebarOption:hover {
    color: var(--twitter-color);
    background-color: #e3f4ff;
    border-radius: 50px;
    cursor: pointer;
    width: 50%;
}

.sidebarOption__text {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.sidebarOption__icon {
    /* margin-left: 4px; */
    margin-right: 12px;
}

.tweetBox__input {
    display: flex;
    flex-direction: rows;
    padding: 10px 15px;
}

.tweetBox__input > input {
    flex: 1;
    border: none;
    padding-left: 20px;
    font-size: 15px;
}

.tweetBox__image {
    border: none;
    /* padding-left: 73px;  */
    /* flex-direction: row; */
    padding: 10px;
    margin-left: 63px;
    /* font-size: 15px; */
}

.tweetBox_btn {
    display: flex;
    background-color: var(--twitter-color) !important;
    border-radius: 30px !important;
    color: #fff !important;
    text-transform: inherit !important;
    font-weight: 900 !important;
    font-size: 16px !important;
    width: 120px;
    margin-top: 10px !important;
    margin-left: auto !important;
    border: none !important;
}


.tweetBox > form {
    display: flex; 
    flex-direction: column
}

.tweetBox {
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 8px solid var(--twitter-background);
}