.home__header > h2 {
    font-weight: 800; 
    font-size: 19px;
}

.home__header {
    border-bottom: 1px solid var(--twitter-background);
    /* width: 100%; */
  
    padding: 15px 20px;
    top: 0;

    position: sticky;
    z-index: 100;
    background-color: #fff;
}

.home {
    position: sticky;
    top: 0;
    overflow-y: scroll;
    margin-top: 0;
    padding-top: 0;
    z-index: 100;
}